#abc{
    display:flex;
    align-items:flex-end;
}
#abd{
    display:flex;
    align-items:flex-end;
}
#abe
{
    display:flex;
    align-items:flex-end;
}
#abf
{
    display:flex;
    align-items:flex-end;
}